server {
    listen 80;
    listen [::]:80;
    server_name {{ main_domain }};
    root /var/www/{{ main_domain }}/html;
    index index.html;
    location ^~ /.well-known/acme-challenge/ {
        root {{ letsencrypt_webroot }};
        default_type text/plain;
        try_files $uri =404;
    }

    location / { try_files $uri $uri/ =404; }
}
