NODE_ENV={{ 'production' | quote }}
PORT={{ omniroute_port | string | quote }}
HOSTNAME={{ '127.0.0.1' | quote }}
DATA_DIR={{ omniroute_data_dir | quote }}
XDG_CACHE_HOME={{ (omniroute_data_dir ~ '/.cache') | quote }}
NEXT_PUBLIC_BASE_URL={{ ('https://' ~ proxy_domain) | quote }}
BASE_URL={{ ('http://127.0.0.1:' ~ (omniroute_port | string)) | quote }}
AUTH_COOKIE_SECURE={{ 'true' | quote }}
REQUIRE_API_KEY={{ 'true' | quote }}
JWT_SECRET={{ vault_omniroute_jwt_secret | quote }}
API_KEY_SECRET={{ vault_omniroute_api_key_secret | quote }}
INITIAL_PASSWORD={{ vault_omniroute_initial_password | quote }}
OMNIROUTE_WS_BRIDGE_SECRET={{ vault_omniroute_ws_bridge_secret | quote }}
STORAGE_ENCRYPTION_KEY={{ vault_omniroute_storage_encryption_key | quote }}
STORAGE_ENCRYPTION_KEY_VERSION={{ 'v1' | quote }}
OMNIROUTE_MEMORY_MB={{ omniroute_memory_mb | string | quote }}